.song-card-wrapper {
  height: 80px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  text-align: left;
}

.song-card-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1%;
  height: 60px;
  margin-left: 2%;
  border-radius: 5px;
}

.song-name {
  position: absolute;
  left: 90px;
  top: 4px;
  font-size: 1.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}

.song-artist {
  position: absolute;
  left: 90px;
  top: 46px;
  font-size: 1em;
}

.song-card-action-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}
