.song-queue {
  padding: 0;
  margin: 0 auto;
  max-width: 700px;
}

.song-queue-item {
  list-style-type: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.now-playing-wrapper {
  max-width: 700px;
  height: 100%;
  border-radius: 15px 15px 0 0;
  background: rgba(255, 255, 255, 1);
  text-align: left;
  margin: 0 auto;
  position: relative;
}

.now-playing-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1%;
  height: 60px;
  margin-left: 2%;
  border-radius: 5px;
}
