.now-playing-wrapper button {
  background: none;
  border: none;
}

.now-playing-wrapper svg {
  fill: #484d6d;
}

.now-playing-wrapper svg:hover {
  fill: #ee6352;
}

.next-button {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.pause-button {
  position: absolute;
  right: 17%;
  top: 50%;
  transform: translateY(-50%);
}

.play-button {
  position: absolute;
  right: 17%;
  top: 50%;
  transform: translateY(-50%);
}
